@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Archivo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Archivo", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

[data-scroll-container] {
  overflow: hidden; /* Prevent scrollbar for Locomotive Scroll */
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.active {
  color: #f96a50;
  padding-bottom: 3px;
  border-bottom: 2px solid #f96a50;
}


/* about  section */
/* CSS file for moving gradient background */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 50% 100%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.gradient-bg {
  background: linear-gradient(45deg, #b74f04, #ef9534, #fb923c);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

